/*reset*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.container-logo
{
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    height: 150px;
    margin-bottom: 15px;
    margin-left: 0px;
}

#logo
{
    width: 300px;
    margin-top: 65px;
    margin-left: 5px;
}

.title
{
    margin-left: 5px;
}
.autor
{
    color: #4ea0ff;
}

.date
{
    font-size: 10px;
}


header p
{
    font-weight: bold;
    color: grey;
    margin-bottom: 20px;
}

/* main */

main
{
    margin-left: 5px;
}

section
{
    margin-bottom: 15px;
}

ul
{
    margin-left: 30px;
}
.cap
{
    font-size: 10px;
}

.highlited-text
{
    background-color: yellow;
}

.large
{
    width: 50%;
}
table
{
    border-collapse: collapse;
}

.table-title
{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}
.dispair
{
    background-color: #b1e5f2;
}

.pair
{
    background-color: white;
}

/* footer */
h2
{
    color: grey;
}
h3
{
    color: white;
}

.monitor
{
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    height: 300px;
}

.graph
{
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    height: 300px;
}